{% extends "common/header.html" %}
{% block title %}Utah Triangle Voting{% endblock %}
{% block content %}
{% include "common/navbar.html" with is_calendar=True %}
<div class="container theme-showcase" role="main">
	<iframe src="https://calendar.google.com/calendar/embed?src=dhddetccgao46pn45qt8gcna2g%40group.calendar.google.com&ctz=America/Denver" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div> <!-- /container -->
{% endblock %} <!-- Ending the content block -->
