{% extends "common/header.html" %}
{% block title %}Utah Triangle Voting{% endblock %}
{% block content %}
{% include "common/navbar.html" %}
<div class="container theme-showcase" role="main">
	<h1>History of All Votes</h1>
	{% for elec in elections %}
	<ul class="list-group">
		<a href="{% url 'voting:results' elec.id %}" class="list-group-item">
			<h4 class="list-group-item-heading">Vote #{{elec.id}}</h4>
			<p class="list-group-item-text">{{elec.name}}</p>
		</a>
	</ul>
	{% endfor %}
	</div>
</div> <!-- /container -->
{% endblock %} <!-- Ending the content block -->
