{% extends "common/header.html" %}
{% load staticfiles %}
{% block title %}Vote #{{vote.id}}{% endblock %}
{% block content %}
{% include "common/navbar.html" %}
<link rel="stylesheet" href="{% static 'voting/css/form.css' %}"></link>
<div class="container theme-showcase" role="main">
	<div class="page-header">
		<h1>{{vote.name}} - <a href="{% url 'voting:results' vote.id %}">see results</a></h1>
	</div>
	
	<div>
		<form class="form-horizontal" role="form" action="{% url "voting:submit" vote.id %}" method="post">
			{% include 'voting/voter_header.html' %}
			
			{% for question in vote.question_set.all %}
			<hr></hr>
			<h3>{{question.name}}</h3>
			<hr></hr>
			
			<div class="form-group">
				{% for choice in question.choice_set.all %}
				<div class="radio col-sm-offset-2 col-sm-10">
					<label><input type="radio" name="{{question.id}}" value="{{choice.id}}">{{choice.text}}</input></label>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
			
			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Submit</button>
				</div>
			</div>
		</form>
	</div>
</div> <!-- /container -->
{% endblock %} <!--{1}** Ending the content block **{1}>
	