{% extends "voting/header.html" %}
{% block title %}Utah Triangle Voting{% endblock %}
{% block content %}
{% include "voting/navbar.html" %}
<div class="container theme-showcase" role="main">
	<h1>History of All Votes</h1>
	<ul class="list-group">
		<a href="{% url 'voting:results' 0 %}" class="list-group-item">
			<h4 class="list-group-item-heading">Vote #0</h4>
			<p class="list-group-item-text">Sandwich Maker Fall 2015</p>
		</a>
		<a href="{% url 'voting:results' 1 %}" class="list-group-item">
			<h4 class="list-group-item-heading">Vote #1</h4>
			<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
		</a>
		<a href="{% url 'voting:results' 2 %}" class="list-group-item">
			<h4 class="list-group-item-heading">Vote #2</h4>
			<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
		</a>
		<a href="{% url 'voting:results' 3 %}" class="list-group-item">
			<h4 class="list-group-item-heading">Vote #3</h4>
			<p class="list-group-item-text">President Fall 2016</p>
		</a>
		<a href="{% url 'voting:results' 4 %}" class="list-group-item">
			<h4 class="list-group-item-heading">Vote #4</h4>
			<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
		</a>
		<a href="{% url 'voting:results' 5 %}" class="list-group-item">
			<h4 class="list-group-item-heading">Vote #5</h4>
			<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
		</a>
	</ul>
	</div>
</div> <!-- /container -->
{% endblock %} <!-- Ending the content block -->

