{% extends "voting/header.html" %}
{% block title %}Utah Triangle Voting{% endblock %}
{% block content %}
{% include "voting/navbar.html" with is_voting=True %}
<div class="container theme-showcase" role="main">
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<h1>Voting for Utah Triangle</h1>
		<p>Examine the various votes available as well as the results of completed elections. If a vote isn't visible, ensure that you have the correct permissions to see the vote or search for the vote using the vote's ID.<a class="btn btn-primary btn-lg" href="{% url 'voting:new' %}" role="button">Create New Vote <span class="glyphicon glyphicon-plus"></span></a></p>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Current Votes</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						{% for vote in current_votes %}
						<a href="{% url 'voting:vote' vote.id %}" class="list-group-item">
							<h4 class="list-group-item-heading">Vote #{{vote.id}}</h4>
							<p class="list-group-item-text">{{vote.name}}</p>
						</a>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Completed Votes <button type="button" class="btn btn-info btn-xs" onclick="window.location='{% url 'voting:history' 1 %}'; return false;"><span class="glyphicon glyphicon-stats"></span> Full History</button></h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						{% for vote in complete_votes %}
						<a href="{% url 'voting:results' vote.id %}" class="list-group-item">
							<h4 class="list-group-item-heading">Vote #{{vote.id}}</h4>
							<p class="list-group-item-text">{{vote.name}}</p>
						</a>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div> <!-- /container -->
{% endblock %} <!-- Ending the content block -->
