<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Utah Triangle</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
				<li class="active"><a href="{% url 'voting:index' %}">Voting</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if not user.is_authenticated %}
				<li><a href="{% url 'voting:sign_in' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				{% else %}
				<li><a href="{% url 'voting:signout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>