<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Utah Triangle</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li {% if is_home %}class="active"{% endif %}><a href="{% url 'default:index' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
				<li {% if is_voting %}class="active"{% endif %}><a href="{% url 'voting:index' %}">Voting</a></li>
				{% if user.is_staff %}
				<li><a href="{% url 'admin:index' %}">Admin</a></li>
				{% endif %}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if not user.is_authenticated %}
				<li><a href="{% url 'voting:sign_in' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				<li><a href="{% url 'voting:signup' %}"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
				{% else %}
				<li><a href="{% url 'voting:signout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>