{% extends "voting/header.html" %}
{% load staticfiles %}
{% block title %}Vote #1234{% endblock %}
{% block content %}
{% include "voting/navbar.html" %}
<link rel="stylesheet" href="{% static 'voting/css/form.css' %}"></link>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
<div class="container theme-showcase" role="main" ng-app="formApp" ng-controller="mainControl">
	<div>
		<form class="form-horizontal" role="form" action="{% url "voting:create" %}" method="post">
		{% csrf_token %}
			<div class="form-group">
				<label class="control-label col-sm-2 title-input" for="voteName">Vote name:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control input-lg" id="vote_name" placeholder="Enter name of vote" name="voteName"></input>
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-default btn-circle btn-lg" ng-click="questions.push(getQuestion())">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
					<button type="button" class="btn btn-default btn-circle btn-lg" ng-click="questions.pop()">
						<span class="glyphicon glyphicon-minus"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Vote type:</label>
				<div class="col-sm-10"> 
					<label class="radio-inline"><input type="radio" name="voteType" checked value="poll">Poll</input></label>
					<label class="radio-inline"><input type="radio" name="voteType" value="altVote">Alternative vote</input></label>
				</div>
			</div>
			<div class="form-group">
				<div class="checkbox col-sm-offset-2 col-sm-10">
					<label><input type="checkbox" name="useCode" value="useCode" ng-model="useCode">Lock voting to passcode:</input></label>
				</div>
			</div>
			<div class="form-group" ng-show="useCode">
				<label class="control-label col-sm-2">Voting passcode:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="vote_name" placeholder="Enter name of vote" name="passcode"></input>
				</div>
			</div>
			
			{% verbatim %}
			<span ng-repeat="question in questions track by $index">
				<hr></hr>
				<div class="form-group">
					<label class="control-label col-sm-2">Question {{$index + 1}}:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="text" placeholder="Enter a question" name="q{{$index+1}}"></input>
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-default btn-circle" ng-click="question.choices.push('')">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
						<button type="button" class="btn btn-default btn-circle" ng-click="question.choices.pop()">
							<span class="glyphicon glyphicon-minus"></span>
						</button>
					</div>
				</div>
				<div class="form-group" ng-repeat="option in question.choices track by $index">
					<label class="control-label col-sm-2 input-sm">Option {{$index + 1}}:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control input-sm" id="text" placeholder="Enter an option" name="q{{$parent.$index + 1}}c{{$index + 1}}"></input>
					</div>
				</div>
			</span>
			{% endverbatim %}
			
			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create</button>
				</div>
			</div>
		</form>
	</div>
</div> <!-- /container -->
<script src="{% static 'voting/js/new_vote.js' %}"></script>
{% endblock %} <!--{1}** Ending the content block **{1}>