{% extends "voting/header.html" %}
{% block title %}Vote #1234{% endblock %}
{% block content %}
<div class="container theme-showcase" role="main">
	{% include "voting/navbar.html" %}
	<div class="page-header">
		<h1>Presidential Election Fall 2016</h1>
	</div>
	
	<div>
		<form class="form-horizontal" role="form" action="{% url "voting:results" 1%}" method="post">
		{% csrf_token %}
			<div class="form-group">
				<label class="control-label col-sm-2" for="username">Username:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="username" placeholder="Enter username"></input>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Password:</label>
				<div class="col-sm-10"> 
					<input type="password" class="form-control" id="pwd" placeholder="Enter password"></input>
				</div>
			</div>
			
			<hr></hr>
			<h3>President</h3>
			<hr></hr>
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Santa Clause:</label>
				<div class="col-sm-10">
					<label class="radio-inline"><input type="radio" name="optradio">1</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">2</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">3</input></label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Harry Potter:</label>
				<div class="col-sm-10"> 
					<label class="radio-inline"><input type="radio" name="optradio">1</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">2</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">3</input></label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Gandalf:</label>
				<div class="col-sm-10"> 
					<label class="radio-inline"><input type="radio" name="optradio">1</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">2</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">3</input></label>
				</div>
			</div>
			
			<hr></hr>
			<h3>Secretary</h3>
			<hr></hr>
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Santa Clause:</label>
				<div class="col-sm-10">
					<label class="radio-inline"><input type="radio" name="optradio">1</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">2</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">3</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">4</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">5</input></label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Harry Potter:</label>
				<div class="col-sm-10"> 
					<label class="radio-inline"><input type="radio" name="optradio">1</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">2</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">3</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">4</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">5</input></label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Gandalf:</label>
				<div class="col-sm-10"> 
					<label class="radio-inline"><input type="radio" name="optradio">1</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">2</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">3</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">4</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">5</input></label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Hermione:</label>
				<div class="col-sm-10"> 
					<label class="radio-inline"><input type="radio" name="optradio">1</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">2</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">3</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">4</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">5</input></label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Pedro:</label>
				<div class="col-sm-10"> 
					<label class="radio-inline"><input type="radio" name="optradio">1</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">2</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">3</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">4</input></label>
					<label class="radio-inline"><input type="radio" name="optradio">5</input></label>
				</div>
			</div>
			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Submit</button>
				</div>
			</div>
		</form>
	</div>
</div> <!-- /container -->
{% endblock %} <!--{1}** Ending the content block **{1}>
	